* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    /* margin-top: 20px; */
    height: 50px;
    display: flex;
    position: sticky;
    top: 0;
    right: 0;
    /* background-color: white; */
    /* border-radius: 5px; */
    z-index: 99;
    /* border: 2px solid red; */
}


#sign {
    /* border: 1px solid black; */
    padding: 5px;
    font-size: 1.2rem;
    font: 600;
    border-radius: 10px;
    transition: 0.5s;
    /* display: none; */
}

#sign:hover {
    background-color: skyblue;
    border: skyblue;
    color: white;
    box-shadow: 2px 2px 5px skyblue;
}

#sign-in {
    height: 40px;
    width: 50px;
    position: absolute;
    right: 60px;
    top: 3px;
    display: none;
}

.logo {
    /* border: 2px solid pink; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.navlist {
    width: 70%;

}

.navlist ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 48px;

}

.navlist ul a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px;
    width: 50%;
}

.navlist ul a:hover {
    color: #E55604;
}

.navlist ul a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1.5px;
    background-color: red;
    border-radius: 3px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navlist ul a::before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    width: 100%;
    height: 1.5px;
    background-color: red;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navlist ul a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

.navlist ul a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.burger {
    position: absolute;
    cursor: pointer;
    right: 5px;
    /* top: 20px; */
    display: none;
}

.line {
    width: 33px;
    background-color: black;
    height: 2px;
    margin: 5px 5px;
}

.index {
    display: flex;
}

.main {
    width: 450px;
    height: 400px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 5%;
    margin-left: 10%;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 20px;
}

.form h2 {
    font-size: 2.1rem;
    margin: 20px;
    font-family: cursive;
}

.half-1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.half-1 label {
    margin: 5px;
}

.half-1 input {
    width: 180px;
    height: 25px;
    border: none;
    border-radius: 20px;
}

.half-1 select {
    width: 180px;
    height: 25px;
    border: none;
    border-radius: 20px;
}

.half-2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.half-2 label {
    margin: 5px;
    margin-bottom: 10px;
}

.half-2 input {
    width: 180px;
    height: 25px;
    border: none;
    border-radius: 20px;
}

.half-3 {
    margin-bottom: 20px;
}

.last {
    display: flex;
    justify-content: space-evenly;
}

.last input {
    font-size: 5rem;
}

.last label {
    font-size: 1.2rem;
}

.btn {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

#btn {
    width: 170px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    /* font-weight: 600; */
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
}

#btn:hover {
    border: 1px solid white;
    background-color: rgba(225, 220, 220, 0.5);
    color: black;
    /* font-weight: 600; */
    font-size: 1.2rem;
}

.tag {
    /* border: 2px solid red; */
    width: 550px;
    height: 400px;
    margin-top: 5%;
    margin-left: 10%;
    color: white;
    /* background-color: rgba(0, 0, 0, .4); */
    border-radius: 20px;
    padding: 10px;
}

.tag>h1 {
    font-size: 3rem;
    font-family: cursive;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        height: 250px;
        /* border: 2px solid red; */
        transition: all 0.4s ease-out;
        background-color: rgba(0, 0, 0, 0.68);
    }

    .logo {
        width: 100%;
        justify-content: left;
        /* background-color: white; */
        padding-left: 50px;
    }

    .navlist {
        width: 100%;
        position: sticky;
        top: 0px;
        height: 0px;
        transition: all 0.3s ease-in;

    }

    .navlist ul {
        display: block;
        height: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .navlist ul li {
        margin-bottom: 10px;
        /* border: 2px solid red; */
        text-align: center;
    }

    .navlist ul li a {
        color: white;

    }

    .burger {
        display: block;
        top: 10px;
    }

    .h-nav {
        height: 50px;
    }

    .v-nav {
        opacity: 0;
    }

    .index {
        display: block;
    }

    .main {
        position: fixed;
        top: 10%;
    }

}

@media screen and (max-width:550px) {
    .main {
        width: 400px;
        position: fixed;
        top: 10%;
    }

    .half-1 {
        display: bl;
    }
}

@media screen and (max-width:450px) {
    .main {
        margin-left: 10px;
        position: fixed;
        top: 10%;
    }
}

@media screen and (max-width:400px) {
    .main {
        margin-left: 10px;
        position: fixed;
        top: 10%;
        width: 350px;
        height: 500px;
    }
    .half-1>.cont{
        margin: 20px;
    }
    .half-1 {
        display: block;
        margin-left: 20px;
    }

    .half-1 label {
        margin-bottom: 10px;
    }

    .half-1 input {
        width: 250px;
        height: 25px;
        border: none;
        border-radius: 20px;
    }

    .half-1 select {
        width: 250px;
        height: 25px;
        border: none;
        border-radius: 20px;
    }

    .half-2>.cont{
        margin: 20px;
    }
    .half-2 {
        display: block;
        margin-left: 20px;
    }

    .half-2 label {
        margin-bottom: 10px;
    }

    .half-2 input {
        width: 250px;
        height: 25px;
        border: none;
        border-radius: 20px;
    }
}