* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar {
    /* margin-top: 20px; */
    height: 50px;
    display: flex;
    position: sticky;
    top: 0;
    right: 0;
    /* background-color: white; */
    /* border-radius: 5px; */
    z-index: 99;
    /* border: 2px solid red; */
}


#sign {
    /* border: 1px solid black; */
    padding: 5px;
    font-size: 1.2rem;
    font: 600;
    border-radius: 10px;
    transition: 0.5s;
    /* display: none; */
}

#sign:hover {
    background-color: skyblue;
    border: skyblue;
    color: white;
    box-shadow: 2px 2px 5px skyblue;
}

#sign-in {
    height: 40px;
    width: 50px;
    position: absolute;
    right: 60px;
    top: 3px;
    display: none;
}

.logo {
    /* border: 2px solid pink; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo>a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.navlist {
    width: 70%;

}

.navlist ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 48px;

}

.navlist ul a {
    position: relative;
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 20px;
    width: 50%;
}

.navlist ul a:hover{
    color:#E55604;
}

.navlist ul a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1.5px;
    background-color: red;
    border-radius: 3px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navlist ul a::before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    width: 100%;
    height: 1.5px;
    background-color: red;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navlist ul a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

.navlist ul a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.burger {
    position: absolute;
    cursor: pointer;
    right: 5px;
    /* top: 20px; */
    display: none;
}

.line {
    width: 33px;
    background-color: black;
    height: 2px;
    margin: 5px 5px;
}


.main{
    height: 300px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
    color: white;
}
.title>p{
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.1rem;
}
.title>h1{
    font-size: 2.5rem;
    text-align: center;
    font-family: cursive;
    margin-bottom: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#btn{
    width: 170px;
    height: 40px;
    border-radius: 50px;
    border:1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
#btn:hover{
    width: 170px;
    height: 40px;
    border-radius: 50px;
    border:1px solid white;
    background-color:rgba(225, 220, 220, 0.5);
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
}





@media (max-width: 850px) {
    .navbar {
        flex-direction: column;
        height: 250px;
        /* border: 2px solid red; */
        transition: all 0.4s ease-out;
        background-color: rgba(0, 0, 0, .5);
    }

    .logo {
        width: 100%;
        justify-content: left;
        /* background-color: white; */
        padding-left: 50px;
    }

    .navlist {
        width: 100%;
        position: sticky;
        top: 0px;
        height: 0px;
        transition: all 0.3s ease-in;

    }

    .navlist ul {
        display: block;
        height: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .navlist ul li {
        margin-bottom: 10px;
        /* border: 2px solid red; */
        text-align: center;
    }

    .navlist ul li a {
        color: white;
        
    }

    .burger {
        display: block;
        top: 10px;
    }

    .h-nav {
        height: 50px;
    }

    .v-nav {
        opacity: 0;
    }
    body{
        background-image: url(bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .main{
        height: 300px;
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-left: 10%;
        color: white;
    }

}

@media screen and (max-width:700px) {
    body{
        background-image: url(bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    
    .main{
        height: 400px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-left: 10%;
        color: white;
    }
}
@media screen and (max-width:600px) {
    body{
        background-image: url(bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    
    .main{
        height: 400px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-left: 10%;
        color: white;
    }
}
@media screen and (max-width:550px) {
    body{
        background-image: url(bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    
    .main{
        height: 400px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        /* margin-left: 10%; */
        color: white;
    }
}
@media screen and (max-width:500px) {
    body{
        background-image: url(bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    
    .main{
        height: 400px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        /* margin-left: 10%; */
        color: white;
    }
}


@media screen and (max-width:400px) {
    body{
        background-image: url(bg.webp);
        /* background-position: center; */
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    
    .main{
        height: 400px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-left: 10%;
        color: white;
    }
}